fastapi
uvicorn
streamlit
langchain
langchain-community
langchain-openai
langchain-google-genai
google-generativeai
chromadb
pydantic-settings
python-multipart
presidio-analyzer
presidio-anonymizer
spacy
unstructured[pdf]
flashrank
sentence-transformers
python-dotenv
